<div class="flex-col rounded-lg bg-background px-4 md:px-8 py-4 md:py-8 sm:flex-row">
  <div class="mb-4 flex items-center justify-between">
    <div class="flex-col items-center">
      <h3 class="text-md font-bold text-foreground">Dernières refs ajoutées</h3>
      <span class="text-xs text-muted-foreground">Updated 37 minutes ago</span>
    </div>
    <button
      class="flex-none rounded-md bg-card px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:bg-muted hover:text-foreground">
      History
    </button>
  </div>

  <div class="relative overflow-x-auto">
    <table class="w-full table-auto">
      <!--Table head-->
      <thead class="text-xs uppercase text-muted-foreground">
        <tr>
          <th class="py-3 text-left"></th>
          <th class="py-3 text-right hidden md:table-cell">Auteur</th>
          <th class="py-3 text-right hidden md:table-cell">Ref</th>
          <th class="py-3 text-right hidden md:table-cell">Visionner</th>
        </tr>
      </thead>
      <!--end Table head-->
      <!--Table body-->
      <tbody>
        <tr *ngFor="let ref of refs" class="border-b border-dashed border-border hover:bg-card  cursor-pointer"
          (click)="navigateToRef(ref)">
          <td class="py-2 pr-2">
            <div class="flex items-center">
              <img [src]="ref.tiktokVideoThumbnail" class="mr-2 h-20 w-10 flex-none rounded-sm" alt="" />
              <div class="flex flex-col justify-items-start">
                <a class="mb-1 text-sm font-semibold text-foreground">{{ ref.title }}</a>
                <span class="text-xs font-semibold text-muted-foreground/50">{{ ref.memeAuthor}}</span>
              </div>
            </div>
          </td>
          <td class="py-2 pl-2 text-right hidden md:table-cell">
            <span class="text-sm font-semibold text-muted-foreground">{{ ref.memeAuthor }}</span>
          </td>
          <td class="py-2 pl-2 text-right hidden md:table-cell">
            <span class="text-sm font-semibold text-muted-foreground">{{ ref.memeRef }}</span>
          </td>
          <td class="py-2 pl-2 text-right hidden md:table-cell">
            <div class="flex justify-end">
              <button
                class="flex h-7 w-7 items-center justify-center rounded-md bg-card text-muted-foreground hover:bg-muted hover:text-foreground">
                <svg-icon src="assets/icons/heroicons/outline/arrow-sm-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
              </button>
            </div>
          </td>

        </tr>
      </tbody>
      <!--end::Table body-->
    </table>
  </div>
</div>