.ref-container {
  max-height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  overflow: hidden;
  display: flex;
}

.ref-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.swipe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Au-dessus de l'iframe */
  background: transparent; /* Invisible */
}

.ref-item {
  position: relative;
  height: calc(100vh - 60px);
  display: flex;
}

.iframe-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}
