<!-- login form -->

<div class="flex flex-col lg:flex-row justify-center gap-10 mx-auto px-4 py-4 sm:px-8 lg:container min-h-full">
  <div class="flex items-center">
    <form class=" lg:my-10 space-y-6 " [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="">
        <h2 class="mb-1 text-3xl font-semibold text-foreground">Tu veux ajouter une <span
            class="text-primary">ref</span> ? </h2>
        <p class="text-sm text-muted-foreground">Contribue à notre bibliothèque et indique nous quelles vidéos tu
          voudrais ajouter.
        </p>
      </div>

      <div
        class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-muted after:mt-0.5 after:flex-1 after:border-t after:border-muted">
      </div>

      <div class="space-y-3 text-left">
        <div class="form__group">
          <div class="relative">
            <input type="text" id="title" [ngClass]="{ 'is__invalid-input': submitted && controls['title'].errors }"
              class="peer block" placeholder=" " formControlName="title" />
            <label for="title"
              class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
              Titre de la ref (ex: Mbappe - Il va pas la chercher)
            </label>
          </div>
          <div *ngIf="submitted && controls['title'].errors" class="is__invalid-error text-primary">
            <div *ngIf="controls['title'].errors['required']">Champs obligatoire</div>
          </div>
        </div>

        <div class="form__group">
          <div class="relative">
            <input type="text" id="memeAuthor"
              [ngClass]="{ 'is__invalid-input': submitted && controls['memeAuthor'].errors }" class="peer block"
              placeholder=" " formControlName="memeAuthor" />
            <label for="memeAuthor"
              class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
              Auteur de la ref (ex: Mbappe)
            </label>
          </div>
          <div *ngIf="submitted && controls['memeAuthor'].errors" class="is__invalid-error">
            <div *ngIf="controls['memeAuthor'].errors['required']">Champs obligatoire</div>
          </div>
        </div>

        <div class="form__group">
          <div class="relative">
            <input type="text" id="memeRef" [ngClass]="{ 'is__invalid-input': submitted && controls['memeRef'].errors }"
              class="peer block" placeholder=" " formControlName="memeRef" />
            <label for="memeRef"
              class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
              La ref culte (ex: Il va pas la chercher)
            </label>
          </div>
          <div *ngIf="submitted && controls['memeRef'].errors" class="is__invalid-error">
            <div *ngIf="controls['memeRef'].errors['required']">Champs obligatoire</div>
          </div>
        </div>

        <div class="form__group">
          <div class="relative">
            <input type="text" id="tiktokVideoCite"
              [ngClass]="{ 'is__invalid-input': submitted && controls['tiktokVideoCite'].errors }" class="peer block"
              placeholder=" " formControlName="tiktokVideoCite" />
            <label for="tiktokVideoCite"
              class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary  peer-[:not(:placeholder-shown)]:overflow-hidden peer-[:not(:placeholder-shown)]:text-ellipsis peer-[:not(:placeholder-shown)]:max-w-full peer-[:not(:placeholder-shown)]:whitespace-nowrap peer-focus:overflow-hidden peer-focus:text-ellipsis peer-focus:max-w-full peer-focus:whitespace-nowrap">
              Lien de la ref Tiktok (ex: https://tiktok.com/user/video/1234)
            </label>
          </div>
          <div *ngIf="submitted && controls['tiktokVideoCite'].errors" class="is__invalid-error">
            <div *ngIf="controls['tiktokVideoCite'].errors['required']">Champs obligatoire</div>
          </div>
        </div>


      </div>

      <div class="mb-2 flex items-center justify-end space-x-3">

        <app-button impact="none" tone="primary" shape="rounded" size="small" (click)="openTuto()">
          Besoin d'aide? Consulte le tutoriel
        </app-button>
      </div>

      <!-- Submit Button -->
      <div>
        <app-button full impact="bold" tone="primary" shape="rounded" size="medium">Valide ta ref !</app-button>
      </div>


    </form>
  </div>
  <div class="flex justify-center items-center">
    <div class="svg-animate flex flex-col gap-5">
      <svg class="svg-arrow" xml:space="preserve"
        viewBox="165.679002076 3.5197575987000005 214.95497999999998 272.27703"
        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="Capa_1" version="1.1"
        stroke-width="2" stroke="currentColor" fill="currentColor" width="200px" height="200px">
        <g>
          <g>
            <path
              d="M205.916,265.976c-7.956-4.896-20.809-3.672-29.988-2.449c-2.448,0-2.448,3.672,0,4.285&#10;                    c4.896,0.611,10.404,0.611,15.3,1.836c4.284,0.611,8.568,2.447,12.852,2.447C207.752,271.484,208.363,267.199,205.916,265.976z" />
            <path
              d="M254.264,243.332c-4.896,1.836-7.956,4.896-12.24,7.955c-4.284,3.674-8.567,6.121-13.464,8.568&#10;                    c-2.448,1.225-0.612,5.508,1.836,4.896c4.896-1.225,8.568-3.672,12.852-6.119c4.896-3.061,9.793-6.121,14.076-10.404&#10;                    C259.159,246.392,257.323,242.107,254.264,243.332z" />
            <path
              d="M279.968,198.044c-0.612-2.449-4.284-2.449-4.896,0c-1.836,6.73-3.672,12.852-7.956,18.359&#10;                    c-1.224,1.836,0.612,3.672,2.448,2.447C275.684,213.343,281.191,207.224,279.968,198.044z" />
            <path
              d="M279.355,146.636c-1.836-2.448-5.508-0.612-4.896,1.836c2.447,7.956,3.06,16.524,3.672,24.48c0,2.448,4.284,2.448,4.284,0&#10;                    C283.64,164.384,284.863,154.592,279.355,146.636z" />
            <path
              d="M260.384,95.84c-1.836-2.448-4.896,0.612-3.672,3.06c3.672,8.568,9.18,16.524,13.464,25.092&#10;                    c0.612,1.836,3.672,0.612,3.06-1.224C270.788,112.976,267.115,103.184,260.384,95.84z" />
            <path
              d="M231.619,80.54c-5.508-5.508-15.911-13.464-24.479-10.404c-2.448,0.612-2.448,4.284,0,4.896&#10;                    c3.672,1.224,7.344,0.612,11.016,1.836S225.5,80.54,228.56,83.6C230.396,84.824,232.844,82.375,231.619,80.54z" />
            <path
              d="M188.78,77.479c-5.508,0-10.404,1.224-14.076,5.508c-3.06,3.672-7.956,11.628-4.896,16.524&#10;                    c1.224,2.448,4.284,1.836,6.12,0c1.224-1.836,1.224-3.06,1.224-4.896s0.612-4.284,1.836-6.12c1.836-3.672,5.508-7.956,9.792-8.568&#10;                    C190.615,79.928,190.615,77.479,188.78,77.479z" />
            <path
              d="M201.02,140.516c-3.06-4.284-7.956-7.344-11.017-11.016c-3.671-4.284-6.119-9.18-8.567-14.076&#10;                    c-1.224-2.448-4.896-0.612-4.284,1.836c2.448,9.792,9.792,24.48,20.196,27.54C199.796,145.412,202.243,142.352,201.02,140.516z" />
            <path
              d="M250.592,168.056c-4.896-2.448-9.792-3.06-15.3-4.896c-7.345-1.836-13.465-5.508-18.973-10.404&#10;                    c-2.447-2.448-6.12,1.224-3.672,3.672c8.568,9.18,23.868,17.136,36.72,17.136C251.815,173.563,253.04,169.28,250.592,168.056z" />
            <path
              d="M300.775,127.052c-3.06,3.06-3.672,7.344-4.896,11.016c-1.836,4.896-4.284,10.404-7.345,14.688&#10;                    c-2.447,2.448,1.225,6.12,3.673,3.672c3.672-3.672,6.731-7.956,9.18-12.24s5.508-9.792,4.896-14.688&#10;                    C305.672,127.052,302.611,125.216,300.775,127.052z" />
            <path
              d="M316.688,82.988c-7.956,6.732-10.404,20.808-9.792,30.6c0,3.06,4.284,3.06,4.896,0c0.611-4.284,1.836-9.18,3.06-13.464&#10;                    c1.836-4.896,5.508-9.18,6.732-14.076C321.584,82.988,318.523,81.151,316.688,82.988z" />
            <path
              d="M341.168,50.552c-3.672-0.612-6.732,2.448-9.181,4.284c-3.06,2.448-4.896,6.12-6.12,9.18&#10;                    c-1.224,3.06,3.061,5.508,4.284,2.448c1.836-2.448,3.061-4.896,5.508-7.344c2.448-1.836,6.12-2.448,7.345-5.508&#10;                    C343.615,53,343.004,51.164,341.168,50.552z" />
            <path
              d="M375.439,36.476c-1.224-6.12-3.06-12.852-5.508-18.972c-0.612-1.836-2.448-3.672-4.284-3.672&#10;                    c-12.24,0.612-23.256,4.284-33.66,11.016c-3.672,2.448-0.611,7.956,3.672,6.12c8.568-4.896,17.137-7.344,26.316-7.344&#10;                    c1.224,4.284,2.448,8.568,3.672,12.852c1.225,4.896,0.612,9.792,3.672,13.464c1.836,2.448,4.896,1.224,6.12-0.612&#10;                    C378.5,45.656,376.663,40.147,375.439,36.476z" />
          </g>
        </g>
      </svg>
      <div class="text-foreground  font-semibold text-center">{{loadingText}}</div>
    </div>



  </div>
  <div id="tiktok-viewer">
    <ngx-skeleton-loader *ngIf="!ref || !ref.tiktokVideoId || !isLoaded" adivpearance="circle"
      [theme]="{
          'background-color':'#d9cde6', width: '300px', height: '100%', 'animation-duration': '2s', 'border-radius':'10px' }">
    </ngx-skeleton-loader>
    <div *ngIf=" ref && ref.tiktokVideoId !isLoaded" class="h-full">
      <iframe width="100%" height="100%" [src]="tiktokVideoUrl" allow="fullscreen" title="test"></iframe>
    </div>
  </div>
</div>


<app-ref-modal *ngIf="showModal">
  <div class="modal-content relative bg-white rounded-xl p-8 max-w-xs w-full shadow-lg text-center">
    <div class="emoji-container flex justify-center items-center rounded-full mx-auto mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" id="partying-face" width="200" height="200"
        *ngIf="isLoaded">
        <!-- Emoji face -->
        <circle cx="66.49" cy="74.67" r="45.87" fill="#febb10"></circle>
        <!-- Eyes -->
        <path fill="#3a3a3a"
          d="M75.22 106.15c-.92 0-1.78-.56-2.12-1.47-.44-1.17.15-2.48 1.32-2.92 1.68-.63 2.72-1.54 2.83-2.48.12-.97-.69-2.65-3.32-4.45-.7-.48-1.08-1.32-.96-2.17.11-.85.7-1.56 1.5-1.84 1.96-.68 3.17-1.73 3.24-2.82.07-1.01-.82-2.57-3.52-3.93-1.12-.56-1.56-1.93-1-3.05.56-1.12 1.93-1.57 3.05-1 4.03 2.04 6.22 5.06 6 8.28-.14 2-1.19 3.77-3 5.11 1.9 2.03 2.77 4.23 2.51 6.42-.19 1.57-1.19 4.46-5.73 6.17-.26.1-.53.15-.8.15zM57.67 68.82c-1.25 0-2.27-1.01-2.27-2.27 0-1.38-.4-2.47-1.18-3.24-.76-.75-1.89-1.18-3.08-1.17-1.59.01-4.29.96-4.29 4.41 0 1.25-1.01 2.27-2.27 2.27s-2.27-1.01-2.27-2.27c0-5.82 4.42-8.91 8.79-8.94.03 0 .05 0 .08 0 2.37 0 4.64.9 6.23 2.48 1.65 1.63 2.52 3.87 2.52 6.46 0 1.25-1.01 2.27-2.27 2.27zM88.39 68.82c-1.25 0-2.27-1.01-2.27-2.27 0-3.45-2.7-4.4-4.29-4.41-1.2-.02-2.32.42-3.08 1.17-.78.77-1.18 1.87-1.18 3.24 0 1.25-1.01 2.27-2.27 2.27s-2.27-1.01-2.27-2.27c0-2.59.87-4.83 2.52-6.46 1.61-1.6 3.91-2.51 6.31-2.48 4.37.04 8.79 3.12 8.79 8.94 0 1.25-1.01 2.27-2.27 2.27z">
        </path>
        <!-- Party blower -->
        <path fill="#0096e0"
          d="m103.58,96.54c-.21,0-.43,0-.65-.01-5.26,0-22.28-.52-23-.54-1.25-.04-2.24-1.08-2.2-2.33.04-1.25,1.08-2.24,2.33-2.2.18,0,17.79.53,22.92.53.04,0,.07,0,.11,0,6.88.33,7.77-6.18,7.85-6.92.15-1.37-.24-2.66-1.09-3.61-.88-.98-2.17-1.53-3.64-1.53h-.01c-1.55,0-2.66.91-3.19 1.45-.85.88-1.22 1.86-1.21 2.4.03.93.37 1.46.96 1.45.8-.01,1.21-.21,1.51-1.38.31-1.21,1.55-1.94,2.76-1.63,1.21.31,1.94,1.55,1.63,2.76-1.06 4.09-4.1 4.74-5.83 4.77-2.68.05-5.44-1.95-5.56-5.84-.06-1.91.87-4.04,2.49-5.7,1.77-1.82,4.06-2.83,6.44-2.83h.03c2.77.01,5.26 1.09,7 3.04,1.72 1.92,2.51 4.45,2.22 7.11-.58 5.37-4.53 10.98-11.86 10.98Z">
        </path>
        <polygon fill="#f23a41"
          points="65.81 28.8 23.92 57.57 23.45 47.29 22.99 37.01 22.53 26.73 22.07 16.45 21.75 9.41 28.19 12.24 37.6 16.38 47.01 20.52 56.41 24.66 65.81 28.8">
        </polygon>
        <polygon fill="#0096e0" points="65.81 28.8 23.92 57.57 23.45 47.29 56.41 24.66 65.81 28.8"></polygon>
        <polygon fill="#0096e0" points="47.01 20.52 22.99 37.01 22.53 26.73 37.6 16.38 47.01 20.52"></polygon>
        <polygon fill="#0096e0" points="28.19 12.24 22.07 16.45 21.75 9.41 28.19 12.24"></polygon>
        <!-- Animated Confetti -->
        <path fill="#37c4b2"
          d="M95.08 44.44c-1.13 0-2.1-.84-2.25-1.99-.16-1.24.73-2.38 1.97-2.53 4.41-.55 7.53-2.37 9.56-5.57.67-1.06 2.07-1.37 3.13-.7 1.06.67 1.37 2.07.7 3.13-2.75 4.35-7.07 6.92-12.82 7.64-.1.01-.19.02-.28.02z">
          <animateTransform attributeName="transform" type="translate" values="0 0; 0 128" dur="3s"
            repeatCount="indefinite" />
          <animate attributeName="opacity" values="1; 0" dur="3s" repeatCount="indefinite" />
        </path>
        <path fill="#37c4b2"
          d="M9.43 68.78c-1.13 0-2.1-.84-2.25-1.99-.16-1.24.73-2.38 1.97-2.53 4.41-.55 7.53-2.37 9.56-5.57.67-1.06 2.07-1.37 3.13-.7 1.06.67 1.37 2.07.7 3.13-2.75 4.35-7.07 6.92-12.82 7.64-.1.01-.19.02-.28.02z">
          <animateTransform attributeName="transform" type="translate" values="0 0; 0 128" dur="2s"
            repeatCount="indefinite" />
          <animate attributeName="opacity" values="1; 0" dur="2s" repeatCount="indefinite" />
        </path>
        <path fill="#f23a41"
          d="M31.44 113.73c-1.13 0-2.1-.84-2.25-1.99-.16-1.24.73-2.38 1.97-2.53 4.41-.55 7.53-2.37 9.56-5.57.67-1.06 2.07-1.37 3.13-.7 1.06.67 1.37 2.07.7 3.13-2.75 4.35-7.07 6.92-12.82 7.64-.1.01-.19.02-.28.02z">
          <animateTransform attributeName="transform" type="translate" values="0 0; 0 128" dur="3.5s"
            repeatCount="indefinite" />
          <animate attributeName="opacity" values="1; 0" dur="3.5s" repeatCount="indefinite" />
        </path>
        <path fill="#f23a41"
          d="M60.22 18.5c-1.13 0-2.1-.84-2.25-1.99-.16-1.24.73-2.38 1.97-2.53 4.41-.55 7.53-2.37 9.56-5.57.67-1.06 2.07-1.37 3.13-.7 1.06.67 1.37 2.07.7 3.13-2.75 4.35-7.07 6.92-12.82 7.64-.1.01-.19.02-.28.02z">
          <animateTransform attributeName="transform" type="translate" values="0 0; 0 128" dur="2.5s"
            repeatCount="indefinite" />
          <animate attributeName="opacity" values="1; 0" dur="2.5s" repeatCount="indefinite" />
        </path>
        <circle cx="41.57" cy="85.11" r="2.27" fill="#37c4b2">
          <animateTransform attributeName="transform" type="translate" values="0 0; 0 128" dur="3s"
            repeatCount="indefinite" />
          <animate attributeName="opacity" values="1; 0" dur="3s" repeatCount="indefinite" />
        </circle>
        <circle cx="110.09" cy="62.14" r="2.27" fill="#f23a41">
          <animateTransform attributeName="transform" type="translate" values="0 0; 0 128" dur="2s"
            repeatCount="indefinite" />
          <animate attributeName="opacity" values="1; 0" dur="2s" repeatCount="indefinite" />
        </circle>
      </svg>
      <svg *ngIf="!isLoaded" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" id="crying-face">
        <circle cx="64" cy="64" r="45.87" fill="#febb10"></circle>
        <path fill="#3a3a3a"
          d="M33.78 53.93c-.16 0-.33-.03-.49-.09-.68-.27-1.02-1.04-.75-1.73.11-.27 2.64-6.55 8.55-9.61.65-.34 1.46-.08 1.8.57.34.65.08 1.46-.57 1.8-5.01 2.6-7.28 8.17-7.3 8.23-.21.52-.71.84-1.24.84zM94.22 53.93c-.53 0-1.03-.32-1.24-.84-.02-.05-2.3-5.63-7.3-8.23-.65-.34-.91-1.14-.57-1.8.34-.65 1.14-.91 1.8-.57 5.91 3.07 8.45 9.35 8.55 9.61.27.68-.06 1.46-.75 1.73-.16.06-.33.09-.49.09z">
        </path>
        <rect width="21.84" height="21.84" x="70.55" y="49.63" fill="#fff" rx="10.92" ry="10.92"></rect>
        <rect width="13.1" height="13.1" x="74.92" y="53.99" fill="#3a3a3a" rx="6.55" ry="6.55"></rect>
        <rect width="21.84" height="21.84" x="35.61" y="49.63" fill="#fff" rx="10.92" ry="10.92"></rect>
        <rect width="13.1" height="13.1" x="39.97" y="53.99" fill="#3a3a3a" rx="6.55" ry="6.55"></rect>
        <rect width="21.82" height="21.82" x="72.06" y="84.93" fill="#0096e0" rx="10.91" ry="10.91"></rect>
        <path fill="#0096e0"
          d="M93.88 95.84c.32-3.21-5.41-15.04-10.91-24.38v24.38h10.91zM72.06 95.84c-.32-3.21 5.41-15.04 10.91-24.38v24.38h-10.91z">
        </path>
        <path fill="#3a3a3a"
          d="m72.05,82.8c-.47,0-.94-.14-1.34-.44-4.57-3.37-8.83-3.37-13.4,0-1.01.74-2.43.53-3.17-.48-.74-1.01-.53-2.43.48-3.17,6.14-4.53,12.64-4.53,18.78,0,1.01.74,1.22,2.16.48,3.17-.44.6-1.13.92-1.83.92Z">
        </path>
        <rect width="128" height="128" fill="none"></rect>
      </svg>
    </div>
    <h2 class="text-2xl font-bold text-gray-800 mb-2">
      <div [innerHTML]="modalTitle"></div>
    </h2>
    <p class="text-gray-600 mb-4" [innerHTML]="modalMessage"></p>
    <div class="flex flex-col w-full gap-1">
      <div class="w-full">
        <app-button (buttonClick)="modalPrimaryButtonAction()" full impact="bold" tone="primary" shape="rounded"
          size="medium">{{modalPrimaryButton}}</app-button>
      </div>
      <div class="w-full">
        <app-button (buttonClick)="modalSecondaryButtonAction()" full impact="border" tone="primary" shape="rounded"
          size="medium">
          {{modalSecondaryButton}}
        </app-button>
      </div>
    </div>
  </div>
</app-ref-modal>
<app-ref-tuto></app-ref-tuto>